# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Aa]rtifacts/
.utmp/

# Memory and recordings
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Mono
mono_crash.*

# Crash reports
sysinfo.txt

# IDE
.vs/
.gradle/
*.DotSettings.user
ExportedObj/
.consulo/

# Generated project files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Meta files for generated content
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Blender
*.blend1
*.blend1.meta

# Build outputs
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Logs
*.log

# Crashlytics
crashlytics-build.properties

# TestRunner
InitTestScene*.unity*
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Addressables
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# JetBrains Rider
/[Aa]ssets/Plugins/Editor/JetBrains*